<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="ERROR" monitorInterval="5">
    <Properties>
        <Property name="basePath">../logs</Property>
    </Properties>
    <Appenders>
        <File name="FILE" fileName="${basePath}/client_logfile.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>